
.textAlignment {
    text-align: center;
}
.row {
    position: relative;
    top: 100px;
}
.success1{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background: hsl(208, 81%, 63%);
    color: white;
    width: 160px;
    border: solid 1px #e2e2e2;
    margin-left: 45px;
}
.success{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background: hsl(208, 81%, 63%);
    color: white;
    width: 160px;
    border: solid 1px #e2e2e2;
}
.delete{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background: red;
    color: white;
    width: 160px;
    border: solid 1px #e2e2e2;
}
ul, .ul{
    list-style-type: none; 
}
ul > li, .ul> .li{
    display: inline-flex !important;
}
input{
    margin: 5px;
    padding: 5px;
    height: 14px;
    width: 50px;
    border: solid 1px black;
    border-radius: 5px;
}